version: 2.1

commands:
  test_command:
    steps:
      - checkout
      - run:
          name: Show current branch
          command: echo ${CIRCLE_BRANCH}
      - restore_cache:
          key: v1-dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Installing global angular cli
          command: sudo npm install -g --ignore-scripts @angular/cli@8.3.9
      - run:
          name: Installing npm dependency
          command: npm install
      - save_cache:
          key: v1-dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
#  build_command:
#    parameters:
#      environment:
#        type: string
#        default: dev
#    steps:
#      - checkout
#      - restore_cache:
#          key: v1-dependency-cache-{{ checksum "package.json" }}
#      - run:
#          name: Install Dependencies
#          command: npm install
#      - save_cache:
#          key: v1-dependency-cache-{{ checksum "package.json" }}
#          paths:
#            - node_modules
#      - run:
#          name: Create Production Build
#          command: npm run build -- --prod --configuration=<< parameters.environment >> --no-progress

jobs:
  unit_test:
    working_directory: ~/my-project
    docker:
      - image: circleci/node:10-browsers
    steps:
      - test_command
      - run:
          name: Ejecutando test de integracion
          command: ng test --no-watch --no-progress --browsers=ChromeHeadlessCI
      - store_test_results:
          path: ~/my-project/report
  integration_test:
    working_directory: ~/my-project
    docker:
      - image: circleci/node:10-browsers
    steps:
      - test_command
    - run:
          name: Ejecutando test de unidad
          command: ng e2e --protractor-config=e2e/protractor-ci.conf.js
    - store_test_results:
        path: ~/report


workflows:
  version: 2.1
  secuencia:
    jobs:
      - unit_test
      - integration_test
